.App {
  padding: 15px;
}

.App-Title {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Choose-File {
  background-color: #f0a500;
  margin-left: 50%;
  transform: translate(-50%, 0%)
}

.subtitles {
  font-size: 20px;
  padding: 10px 0 10px 0px;
  border: 1px solid red;
}

.imagePreviewWrapper {
  height: 200px;
  border-radius: 10px;
  border: 1px dashed #f0a500;
}

.imagePreview {
  margin-left: 50%;
  transform: translate(-50%, 0%)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.generateButton{
  background-color: #f0a500;
  width: 175px;
  margin: 20px;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  text-align: center;
  /* vertical-align: center;
  justify-content: center; */
  /* max-height: 100px */
  color: white;
  font-weight: bold;
}

.headerRow{
  display: flex;
}

.ingredientsGrid {
  display: flex;
}
